* {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #202020;
    font-size: 18px;
}

#title {
    font-size: 36px;
    font-weight: bold;
}
#subtitle {
    font-size: 24px;
    font-weight: bold;
}

#separator {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    #separator {
        width: 1170px;
    }
}   
@media (min-width: 992px) {
    #separator {
        width: 970px;
    }
}
@media (min-width: 768px) {
    #separator {
        width: 750px;
    }
}

button {
    transition: 0.15s;
    width: 100%;
    padding: 12px;
    background-color: #444444;
    border: 0;
    border-radius: 10px;
}
button:hover {
    transition: 0.15s;
    background-color: #555555;
    transform: scale(1.02);
}
button:active {
    transition: 0.15s;
    background-color: #333333;
    transform: scale(0.98);
}

.ends {
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 12%;
}

.promedios {
    display: inline-block;
    margin-left: 2%;
}

.input {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}
input, select {
    border: 2px;
    padding: 12px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}
.inpOne, .inpTwo {
    width: 33%;
}
.newOne {
    width: 50%;
}
.newTwo {
    width: 100%;
}

#navBottom {
    vertical-align: bottom;
    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0px;
}

a {
    transition: 0.15s;
    text-decoration-line: none;
    color: #00AF95;
}
a:hover {
    transition: 0.15s;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    color: #00EFCB;
}

.min {
    color: #AAAAAA;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #AAAAAA
}
